/*  your css code here. If applicable */
.center-box{
	color:purple;
	width:200px;
	height:200px;
	background-color:lightblue;
	text-align:center;
	border: 2px solid black;
	position:absolute;
	top:50%;
	left:50%;
	 display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(-50%, -50%);

}
